  
        body {
          font-family: Arial, sans-serif;
          margin: 0;
          padding: 0;
          background-color: #000;
          color: #000;
        }
       
        .header {
            display: flex;
            justify-content: space-between;
            background-color: #000;
            margin-top: 10px;
            color: #fff;
            padding: 1px 0;
            border-radius: 15px;
            border: solid 2px #fc6a03;
            text-align: center;
            width: 100%;
        }

        .header-container {
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }


        .left-header {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .left-header img {
          width: 40px;
          height: 40px;
          transition: transform 0.3s;
        }

        .left-header img:hover {
          transform: scale(1.5);
        }

        .center-header {
          display: flex;
          justify-content: space-between;
          margin-right: 15px;
        }

        .main-container {
          width: 93%;
          margin-top: 15px;
          margin-bottom: 15px;
        }
        .center-buttons {
          background-color: transparent;
          position: relative;
          color: white;
          padding: 0 7px;    
          font-size: 12pt;
          font-weight: bolder;
          border-radius: 12px;
          border: none;
          cursor: pointer;
        }

        .center-buttons::after {
          content: '';
          position: absolute;
          bottom: 2px;
          left: 0; 
          width: 100%;
          height: 2px;
          background-color: transparent;
          transition: background-color 0.3s;
        }

        .center-buttons:hover::after {
          background-color: #fc6a03;
        }

        .container {
          padding: 20px;
        }

        .left-card {
          background-color: #fc6a03;
          color: #fff;
          padding: 20px;
          border-radius: 10px 100px 120px 100px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .image1 {
          background-image: url('4143723.jpg');
          background-size: contain;
          background-color: #fc6a03;
          color: #fff;
          padding: 20px;
          border-radius: 10px 100px 120px 100px;
          width: 200px;
          height: 200px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .image2 {
          background-image: url('8316292.jpg');
          background-size: contain;
          background-color: #fc6a03;
          color: #fff;
          padding: 20px;
          border-radius: 64px 96px 128px 32px;
          width: 200px;
          height: 200px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .images {
          display: flex;
          justify-content: space-between;
        }

        .right-card {
          background-color: #fc6a03;
          color: #fff;
          padding: 20px;
          border-radius: 64px 96px 128px 32px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .form-container {
          background-color: rgba(255, 255, 255, 0.2); 
          padding: 20px;
          border-radius: 64px 96px 128px 32px;
          margin-top: 20px;
        }

        .form-header {
          display: flex;
          justify-content: space-between;
        }

        .form-header h2 {
          position: relative;
          cursor: pointer;
        }

        .form-header h2::after {
          content: '';
          position: absolute;
          bottom: -3px;
          left: 0;
          width: 100%;
          height: 3.5px;
          background-color: transparent;
          transition: background-color 0.3s;
        }

        .form-header h2:hover::after {
          background-color: #000;
        }

        .form-group {
          margin-bottom: 20px;
        }

        .form-group label {
          display: block;
          margin-bottom: 5px;
        }

        .form-group input[type="text"],
        .form-group input[type="email"],
        .form-group input[type="password"] {
          width: 90%;
          padding: 10px;
          border-radius: 5px;
          border: 1px solid #ccc;
        }

        .form-footer-button {
          display: flex;
          justify-content: center;
        }

        .form-footer:hover {
          color: #fc6a03; 
          background-color: #fff;
        }

        .form-footer {
          margin-top: 10px;
          padding: 10px 20px;
          border: none;
          background-color: #000;
          color: #fff;
          border-radius: 5px;
          cursor: pointer;
          transition: color 0.5s;
        }

        input[type="radio"] {
          appearance: none; 
          -webkit-appearance: none; 
          width: 15px;
          height: 15px;
          margin-top: 10px;
          border-radius: 50%;
          border: 2px solid #fff;
          outline: none; 
          cursor: pointer;
        }

        input[type="radio"]:checked {
          background-color: #000; 
        }

        .footer {
          display: flex;
          margin-right: auto;
          margin-left: auto;
          border-radius: 15px;
          background-color: #fc6a03;
          border:solid 2px #fc6a03;
          color: #333;
          padding: 10px 0;
          text-align: center;
          align-items: center;

        }

        .footer p {
          margin: 0;
          color: #000;
        }
        .img-container{
          margin-right: 20px;
        }
        .img-container img {
          width: 30px;
          height: auto;
          transition: transform 0.3s;
        }
          
        

        .img-container img:hover {
          transform: scale(1.5);
        }


